<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
	integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
	crossorigin="anonymous"></script>
<link href="../static/css/estilos.css" th:href="@{/css/estilos.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="../static/js/javascript.js"></script>


<title>Index</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand/logo -->
		<a class="navbar-brand" href="index.html"
			th:href="@{/admin/complemento/}"> <img
			src="https://www.light.gg/Content/Images/new-icon.png" alt="logo"
			style="width: 50px;">
		</a>
		<h2>light.gg</h2>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="index.html"
					th:href="@{/admin/complemento/}">Página Principal</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown"> Gestión </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="admin/list-tipo.html"
							th:href="@{/tipo/}">Gestión de Tipos</a> <a class="dropdown-item"
							href="admin/list-complemento.html"
							th:href="@{/admin/complemento/listado/}">Gestión de
							Complementos</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown"> Filtrado por Tipo </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:each=" tipo: ${tipos}"
							th:text="${tipo.nombre}" th:value="${tipo.id}">Gestión de
							Tipos</a>

					</div></li>

			</ul>
		</div>
	</nav>

	<div class="btn-group">
		<button type="button" class="btn btn-warning">Añadir</button>
		<button type="button"
			class="btn btn-warning dropdown-toggle dropdown-toggle-split"
			data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="admin/form-tipo.html"
				th:href="@{/tipo/nuevo}">Tipo</a> <a class="dropdown-item"
				href="admin/form-complemento.html"
				th:href="@{/admin/complemento/nuevo/}">Complemento</a>
		</div>
	</div>

	<h2>Complementos</h2>
	<div class="card-group">


		<div th:each="complemento : ${complemento}">
			<div class="card " style="width: 250px">
				<img class="card-img-top"
					th:src="${not (#strings.isEmpty(complemento.imagen))} 
          ? ${complemento.imagen} : 'http://placehold.it/48x48'"
					alt="Imagen" style="width: 100%">
				<div class="card-body">
					<h4 class="card-title" th:text="${complemento.nombre}">Nombre</h4>
					<p class="card-text" th:text="${complemento.tipo.nombre}">Tipo</p>
					<p class="card-text" id="cambioColor"
						th:text="${complemento.rareza.rareza}">Legendario</p>
					<a class="btn btn-warning btn-block btn-lg"
						th:href="@{/admin/complemento/complemento/{id}(id=${complemento.id})}">Ver
						detalles</a>
					<div>
						<a class="btn btn-outline-success w-50"
							th:href="@{/admin/complemento/editar/{id}(id=${complemento.id})}">Editar</a><a
							class="btn btn-outline-danger w-50"
							th:href="@{/admin/complemento/borrar/{id}(id=${complemento.id})}">Borrar</a>

					</div>

				</div>
			</div>
		</div>
	</div>





	<footer class="w-100 bg-dark p-0">
		<div class="container text-white ">
			<br>
			<div class="row">
				<div class="col-12 col-md-4 col-lg-2">
					<img class="img-fluid"
						src="https://images-na.ssl-images-amazon.com/images/I/61gC6SxkpQL.png"
						alt="destiny">
					<h4>Twitter</h4>
					<p>
						<i class="bi bi-twitter"></i> <a
							href="https://twitter.com/destinythegame">@DestinyTheGame</a>
					</p>
				</div>
				<div class="col-12 col-md-4 col-lg-4">
					<h4 id="contacto">Contacto</h4>
					<p>San Diego</p>
					<p>
						Dirección: Gaslamp Quarter - North Carolina<br> <br>
						eMail: rocketleague@support.com
					</p>
				</div>
				<div class="col-12 col-md-4 col-lg-6 ml-auto">
					<p>
						<img class="img-fluid w-75"
							src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Bungie_Logo_-_Official.svg/1200px-Bungie_Logo_-_Official.svg.png"
							alt="logo">
					</p>
				</div>
			</div>
		</div>
	</footer>

	<script>
		let el = document.getElementById('cambioColor');
		let val = el.innerHTML;

		if (val === "Excepcional") {
			el.className = "card-text exotico";
		} else if (val === "Legendario") {
			el.className = "card-text legendario";
		}
	</script>

</body>
</html>
