h2{
    color: white;
}
body{
    color: white;
    background-color: #1a1a20;
}
.card{
    background-color: #1a1a20;
    border-color: aliceblue;
}
li{
    list-style: none;
}

  
.exotico {color: gold;}
.legendario {color: purple;}


  
  